<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Git Branching Demo - Calculator</title>

    <!-- <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/> -->
    <link rel="stylesheet" th:href="@{/styles/calculator.css}"/>

</head>

    <body>
        <section id="section-home" class="container section">
            <div id="calculator-container" class="container">
                <div id="header-conatiner">
                    <h1>Do Some Math</h1>
                </div>
                <div id="input-container">
                    <div>
                        <label for="num-1">1st Number</label>
                        <input id="num-1" type="number">  
                    </div>
                    <div>
                        <label for="num-2">2nd Number</label>
                        <input id="num-2" type="number">
                    </div>
                    <div>
                        <button id="btn-add" type="button" class="btn btn-success">Add</button> 
                        <button id="btn-multiply" type="button" class="btn btn-success">Multiply</button>
                        <button id="btn-subtract" type="button" class="btn btn-success">Subtract</button> 
                        <button id="btn-divide" type="button" class="btn btn-success">Divide</button>
                        <button id="btn-divide" type="button" class="btn btn-success">Power</button> 
                        <button id="btn-order" type="button" class="btn btn-success">Order</button>
                    </div>
                    <div id="result-container">
                        <h3>Result: </h3>
                        <h3 id="result"></h3>
                    </div>
                </div>
            </div>
        </section>







        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/js/calculator.js"></script>
    </body>
</html>